*     {
  max-width: 1366px;
  max-height: auto;
  margin: 0px;
  padding: 0px;
}
.cabecera   {
  position: absolute;
  top: 80px;
  left: 0;
  width: 360px;
  height: 100px;
}

.rectangulo   {
  width: 1336px;
  height: 200px;
}


.responsive  {
width: 100%;
height: auto;
}

.container-flex   {
  width: 100%;
  height: auto;
}
