*     {
  max-width: 1366px;
  margin: 0px;
  padding: 0px;
}

body      {
  max-width: 1366px;
}



btn-primary  {
  display: flex;
  justify-content: flex-start;
}

.card   {
  width: 311px;
  height: 368px;
}

.caracteristicas  {
margin-bottom: 46px;
}

.portada1   {
  position: absolute;
}

.section  {
  display: flex;
  flex-direction: row;
}

.Texto1   {
  position: absolute;
}



.rectangulo   {
  width: 1336px;
  height: 435px;

  }


.containprice  {
    position: absolute;

}

.tituloprecio   {
  padding: 80px;
}

.responsive  {
width: 100%;
height: auto;
}

.nav-item   {
  display: flex;
  text-align: left;
}

footer  {
  max-width: 1366px;
}
