
.container2 {
position: absolute;
 width:  1349px;
 height: auto;
}

button {
  color: #55a7ff;
}

.card   {
  width: 311px;
  height: 368px;
  margin: 26px;
}

.caracteristicas  {
margin-bottom: 46px;
}

.portada1   {
  position: absolute;
}

.sesion  {
  display: flex;
  flex-direction: row;
  margin-left: 372px;
}


.rectangulo   {
  width: 1336px;
  height: 435px;

  }
.portada1   {
  padding: 40px;
}


.tituloprecio   {
  padding: 40px;
}

.responsive  {
width: 100%;
height: auto;
}

.nav-item   {
  display: flex;
  text-align: left;
}

.fondoprecio  {
  position: static;
}



footer  {
  max-width: 1350px;
}
