.navbar-toggler-icon    {
  color: grey;
}

.card-header  {
  background-color: white;
}

.nav    {
  background-color: #221d23;
}

.tituloprecio   {
  color: white;
}

.footer  {
  background-color:  #221d23
}
