

.imagenfondo    {
  background-image: url(file:///C:/Users/admin/Desktop/FrontEnd_ElizabethRetamalMella/Modulo_2%20Flex,%20Grilla,%20Sass%20y%20Svg/Apoyo%20Prueba%20-%20Startup%20Treek-in/entregables/images/bg-hero.svg);
  height: 893px;
  background-repeat: no-repeat;
}


.fondoprecio  {
  height: 893px;
  background-image: url(file:///C:/Users/admin/Desktop/FrontEnd_ElizabethRetamalMella/Modulo_2%20Flex,%20Grilla,%20Sass%20y%20Svg/Prueba_Startup_Treek-in/assets/img/bg-price.svg);
  background-repeat: no-repeat;
  position: static;
}
